---
	import Shell from '../layouts/Shell.astro';
	import { linkPrimary } from "../styles/styles";
	import { SITE_TITLE, SITE_DESCRIPTION } from '../config';

	// Use Astro.glob() to fetch all posts, and then sort them by date.
	const posts = (await Astro.glob('./blog/*.{md,mdx}')).sort(
		(a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf()
	);
---

<Shell title={SITE_TITLE} description={SITE_DESCRIPTION}>
	<section>
		<ul>
			{posts.map((post) => (post.frontmatter.published &&
			<li>
				<time datetime={post.frontmatter.pubDate}>
					{new Date(post.frontmatter.pubDate).toLocaleDateString('en-us', {
					year: 'numeric',
					month: 'short',
					day: 'numeric',
					})}
				</time>
				<a href={post.url} class={linkPrimary}>{post.frontmatter.title}</a>
			</li>
			))}
		</ul>
	</section>
</Shell>