---
	import Shell from '../layouts/Shell.astro';
	import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
	import { CloudIcon, SparklesIcon } from '@heroicons/react/24/outline/index.js'
	import { backgroundPrimary, backgroundSecondary, badgePrimary, hoverTypographyAccent, iconSize6, typographyPrimary, typographySecondary } from '../styles/styles';

	// Use Astro.glob() to fetch all posts, and then sort them by date.
	const posts = (await Astro.glob('./blog/*.{md,mdx}')).sort(
		(a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf()
	);
---

<Shell title={SITE_TITLE} description={SITE_DESCRIPTION}>
	<div class="relative mt-2 pt-10 pb-20 px-4 sm:px-6 lg:pt-12 lg:pb-28 lg:px-8">
		<div class="relative max-w-7xl mx-auto">
			<div class="text-center">
				<h1 class={`text-3xl tracking-tight font-extrabold ${typographyPrimary} sm:text-4`}>
					<CloudIcon className="inline h-8 w-8 mr-1 stroke-indigo-600 " aria-hidden="true" />My thoughts
					uploaded
				</h1>
				<p class={`mt-3 max-w-2xl mx-auto text-xl ${typographySecondary} sm:mt-4`}>
					Sharing my experiences navigating adulthood, special interests, career and life!
				</p>
			</div>
			<section class={`mt-12 mx-auto grid gap-5 lg:grid-cols-3 lg:max-w-none`}>
				{posts.map((post) => (post.frontmatter.published &&
				<div class={`${backgroundSecondary} flex flex-col rounded-lg shadow-lg h-full`}>

					<img class="h-52 w-full object-cover" src={post.frontmatter.heroImage ? post.frontmatter.heroImage
						: '../../public/hero-img.png' } alt={`main image for ${post.frontmatter.title}`} />

					<div class={`p-6 flex flex-col justify-items-stretch`}>

						<div class={`flex justify-between`}>
							<div class={`flex justify-start`}>
								{post.frontmatter.tags &&
								post.frontmatter.tags.map((tag: string) =>
								<p class={`mr-2 px-2.5 py-0.5 rounded-full text-xs font-medium ${badgePrimary}`}>
									{tag}</p>)}
							</div>
							<p class={`mr-2 text-sm ${typographySecondary}`}>
								<time datetime={post.frontmatter.pubDate}>
									{new Date(post.frontmatter.pubDate).toLocaleDateString('en-us', {
									year: 'numeric',
									month: 'short',
									day: 'numeric',
									})}
								</time>
							</p>
						</div>

						<div class="block mt-6">
							<a href={post.url}>
								<p class={`text-xl font-semibold ${typographyPrimary} ${hoverTypographyAccent}`}>
									{post.frontmatter.title}</p>
							</a>
							<p class={`mt-3 text-base ${typographySecondary}`}>{post.frontmatter.excerpt ?
								`${(post.frontmatter.excerpt).split(' ').slice(0, 20).join(' ')}...` : ''}
							</p>
						</div>





					</div>
				</div>
				))}
			</section>
		</div>
	</div>
</Shell>