---
	import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
	import Shell from '../layouts/Shell.astro';
	import { CodeBracketIcon, PuzzlePieceIcon, ArrowTopRightOnSquareIcon, EyeIcon } from '@heroicons/react/24/outline/index.js'
	import { backgroundSecondary, iconSize5, iconSize6, iconSize8, strokeAccent, typographyAccent, typographyPrimary, typographyPrimaryInverted, typographySecondary, UIAccent } from '../styles/styles';
	import PageHeader from '../components/PageHeader.astro';

	const projects = [{
		name: 'nicoleis.xyz',
		description: 'This website! A continual work in progress, made with love.💜 Originally built with Gatsby, migrated to Astro, and styled with Tailwind CSS.',
		icon: CodeBracketIcon,
		href: 'https://github.com/nicoleanalisecox/nicoleisxyz',
		skills: [{ icon: CodeBracketIcon, name: 'Astro w/ React' }, { icon: CodeBracketIcon, name: 'Tailwind' }, { icon: CodeBracketIcon, name: 'AWS' }]
	},
		{
			name: 'iMage the Photo Wizard',
			description: 'A single-page React app where you can search Unsplash API for images. I had fun with the design for this!',
			icon: CodeBracketIcon,
			href: 'https://github.com/nicoleanalisecox/image-search',
			liveLink: 'https://image-search-app-ts-react.netlify.app/',
			skills: [{ icon: CodeBracketIcon, name: 'React' }, { icon: CodeBracketIcon, name: 'TypeScript' }, { icon: CodeBracketIcon, name: 'Unsplash API' }]
		},
		{
			name: 'Gradient Generator',
			description: 'A customisable linear gradient generator. Pick your own colour, linear direction and copy the CSS straight to your clipboard.',
			icon: CodeBracketIcon,
			href: 'https://github.com/nicoleanalisecox/gradient-generator',
			liveLink: 'https://nicoleanalisecox.github.io/gradient-generator/',
			skills: [{ icon: CodeBracketIcon, name: 'HTML' }, { icon: CodeBracketIcon, name: 'CSS' }, { icon: CodeBracketIcon, name: 'JavaScript' }]
		},
		{
			name: 'Huddle Landing Page',
			description: "A responsive landing page to flex my styling muscles, no pun intended 🤪.",
			icon: CodeBracketIcon,
			href: 'https://github.com/nicoleanalisecox/huddle-landing-page',
			liveLink: 'https://nicoleanalisecox.github.io/huddle-landing-page/',
			skills: [{ icon: CodeBracketIcon, name: 'HTML' }, { icon: CodeBracketIcon, name: 'Sass' }]
		},
		{
			name: 'Assembler',
			description: 'Translates programs written in the Nand to Tetris Hack assembly language into machine code.',
			icon: CodeBracketIcon,
			href: 'https://github.com/nicoleanalisecox/N2T-Assembler',
			skills: [{ icon: CodeBracketIcon, name: 'C#' }]
		},
		{
			name: 'Financially Thriving',
			description: 'A freelance web design project. Involved collaboration with client and producing wireframes, mock-ups and final design files.',
			icon: PuzzlePieceIcon,
			liveLink: 'https://www.figma.com/proto/OwKSWcBVV2IFY3DNM3WCNq/Financially-Thriving---Master-Design-File?node-id=10678%3A7266&scaling=min-zoom&page-id=10678%3A7265',

skills: [{ icon: CodeBracketIcon, name: 'Figma' }]
}]

---

<Shell title={SITE_TITLE} description={SITE_DESCRIPTION}>
	<PageHeader headerContent={{heading: 'I want to build cool stuff' ,
		subHeading: 'Some of my web & design projects woohoo!' , pageIcon: CodeBracketIcon}} />

	<div class="grid grid-cols-1 gap-8 sm:grid-cols-2 lg:grid-cols-3 mt-12">
		{projects.map((project) => (
		<article class="pt-6">
			<div class={`flow-root rounded-lg ${backgroundSecondary} px-6 pb-8 h-full`}>
				<div class="-mt-6">
					<div>
						<span class={`inline-flex items-center justify-center rounded-md ${UIAccent} p-3 shadow-lg`}>
							<project.icon className={`${iconSize6} ${typographyPrimaryInverted}` } aria-hidden="true" />
						</span>
					</div>

					<h3 class={`mt-8 text-lg font-medium tracking-tight ${typographyPrimary}`}>
						{project.name}{project.href && <a href={project.href} target='_blank'
							class={`${typographyAccent} ${iconSize5} mx-1`}>
							<ArrowTopRightOnSquareIcon className={`inline ${iconSize5}`} aria-label={`visit repo for
								${project.name}`} />
						</a>}
						{project.liveLink && <a href={project.liveLink} target='_blank' aria-label={`view live site for
							${project.name}`}class={`${typographyAccent}`}>
							<EyeIcon className={`inline ${iconSize5} mx-1`} />
						</a>}
					</h3>

					<p class={`mt-5 text-base ${typographySecondary}`}>{project.description}</p>

					<section class="flex justify-around">
						{project.skills?.map((skill) => (
						<p class={`mt-5 text-base ${typographyAccent}`}>{skill.name}</p>
						))}
					</section>
				</div>
			</div>
		</article>
		))}
	</div>
</Shell>